.userList {
  flex: 4;
  margin-left: 10px;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.status {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListAction {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}
